
body{
  
}

a{
  text-decoration: none;
  color: inherit;

}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section{ 
 height: 100%;
 scroll-snap-align: center;
 background-color: white;
}
