.navbar{
    width: 100%;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;

}
.container{
    width: 100%;
    height: 100%;
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-items: center;

}
.logo{
    margin-right: 30px;
    color: #1aa7ec;
}
.wrapper{
    width: 90%;
    display: flex;  
    align-items: center;
    gap: 2rem;
    list-style: none;

}
li{
    font-weight:500;
    cursor: pointer;
}
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #1aa7ec;
 
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 10px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}